.nav-to-top{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
    opacity:1;
    transition: .1s;
    z-index: 10000;
}
.nav-to-top.transparent{
    box-shadow: none;
    opacity:0;
    transition: .1s;
}