.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 20px;
}

.card {
    margin: 0 auto;
    width: 149px;
    height: 197px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    overflow:hidden;
}

.card-header{
    width: 149px;
    height: 124px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:  #030921;
    background-image: url(../../assets/img/card_back.png)
}

.card-img {
    width: 50px;
    padding-top: 20px;
    margin: auto;
    display: flex;
}

.content-container input {
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 315px;
    height: 29px;
    border-radius: 13px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-width: 0px;
}

.card > p:nth-child(2) {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.card > p:last-child {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}